//
   Created by HOME on 2016-05-24.
extends ../nav.jade
block content
    div.articleSection
        div.container
            a(href='/board/list') 뒤로가기
            div(id='TheSidebar' class='sidebar')
                button(class='close-button fa fa-fw fa-close')
                div
            div(id='theGrid' class='main')
              section.grid
                header.top-bar
                   h2.top-bar__headline Latest Articles
                   div.write
                        a(href='/board/write') 글 작성
                   div.filter
                       span Filter by:
                       span.dropdown Popular



                - for(var i=0, len=data.length; i < len, item = data[i]; i++)
                    a(class='grid__item' href='#')
                        h2(class='title title-preview')=item.title
                        div.loader
                        span.category=item.id
                        div(class='meta meta--preview')
                            img.meta__avatar(src='/images/judy.jpg' alt='HughLee')
                            span.meta__date=new Date(item.regdate).toDateString()
                            span.meta__reading-time=item.hit
                footer.page-meta
                    span Loard More...
              section.content
                div.scroll-wrap
                    - for(var i=0, len=data.length; i < len, item = data[i]; i++)
                        article.content__item
                            span(class='category category--full') Football
                            h2(class='title title--full')=item.title
                            div(class='meta meta--full')
                                img.meta__avatar(src='/images/judy.jpg' alt='HughLee')
                                span.meta__author=item.id
                                span.meta__date=new Date(item.regdate).toDateString()
                                    i(class='fa fa-clock-o')
                                span.meta__reading-time=item.hit
                            p=item.content
                button.close-button
                    i(class='fa fa-close')
                        span Close
        script(src='/javascripts/main.js')
        script(src='/javascripts/classie.js')
















